<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Timestamp Microservice</title>
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <main>
      <h1>Request Header Parser Microservice</h1>
      
      <h3>APIs and Microservices Projects for FCC</h3>

      <p>Example Usage:</p>

      <ul>
        <li>
          <a href="/api/whoami" target="_blank">[project url]/api/whoami</a>
        </li>
      </ul>

      <p>Example Output:</p>

      <code>
        { 
          "ipaddress": "159.20.14.100",
          "language": "en-US,en;q=0.5", 
          "software": "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"
        }
      </code>

    </main>
  </body>
</html>